*{
  user-select: none;
}
html, body {
    height: 100%;
    width: 100%;
    overflow:hidden;
    
  }

    i{
    width: 30%;
    height: 100%;
    color: #e5e817;
    font-size:30px;
    
  }

  #top{
    width:100%;
    height:7%;
    display:flex;
    font-size:30px;
    justify-content:space-between;
    
  }

  #toplef{
    width:10%;
    
  }

  #top span{
    margin-left:10%;
    
  }

  #main{
    width:100%;
    height:100%;
    background-color:black;
    
  }

  p{
    font-size:53px;
    color:white;
    text-align:center;
    
  }

  img{
    width: 43%;
    margin-left: 24%;
    
  }

  #maindiv{
    width: 42%;
    height: 65%;
    display: grid;
    grid-template-columns: repeat(3,33%);
    grid-template-rows: repeat(3,33%);
    margin: 173px 0px 0px 436px;
    transform: rotate(55deg);
    
  }

  .child{
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }

  .child div{
    font-size: 50px;
    transform: rotate(310deg);
    color: white;
    
  }

  #match{
    text-align: center;
    font-size: 30px;
    
  }

  #wrongAns{
    width: 100%;
    height: 100%;
  color:white;
    background-color: #00000061;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    font-size: 57px;
}

.child div{
  text-align: center;
}

  #img1{
    width: 10%;
    margin: 5% 0% 0% 44%;
  }

  .div{
    border-radius: 10px;
    display: flex;
    justify-content: center;
    width: 205px;
    height: 210px;
    top:38%;
    color: white;
    position: absolute;
    background-color: #31C3BD;
    align-items: center;
  }

  #div1{
    
    left:23%;
  }

  #div2{
    left:56%;
  }

  #div3{
    top: 64%;
    left: 26%;
    position: absolute;
  }

  #div4{
    top: 64%;
    position: absolute;
    left: 59%;
  }
  a{
    text-decoration: none;
  }